[submodule "bevy"]
	path = bevy
	url = https://github.com/bevyengine/bevy
[submodule "crates/witx-bindgen/WASI"]
	path = crates/witx-bindgen/WASI
	url = https://github.com/WebAssembly/WASI.git
[submodule "as-witx"]
	path = as-witx
	url = https://github.com/jedisct1/as-witx.git
