[package]
name = "cubes"
version = "0.1.0"
authors = ["thunderseethe.dev@gmail.com", "stephanstross@gmail.com"]
edition="2018"

[lib]
name = "cubes_lib"
path = "src/lib.rs"

[dev-dependencies]
criterion = "0.2.11"

[profile.release]
debug = true

[dependencies]
amethyst = "0.10.0"
array-init = "0.0.4"
alga = "0.9.0"
bincode = "1.1.1"
dirs = "1.0.5"
either = "1.5"
flate2 = "1.0"
galvanic-assert = "0.8.7"
itertools = "0.8.0"
noise = "0.5.1"
ncollide3d = "0.19"
num-traits = "0.2"
num-derive = "0.2"
parking_lot = "0.7.1"
rand = "*"
rayon = "1.0.3"
serde = { version = "1.0", features = ["rc"] }
serde_derive = "1.0"
shred = { version = "0.7" }
tokio = "0.1.15"
typenum = "1.10.0"

[dependencies.parallel_array_init]
path = "./lib/parallel_array_init"
version = "0.1.0"

[dependencies.morton_code]
path = "./lib/morton_code"
version = "0.1.0"

[[bench]]
name = "chunk"
harness = false

[[bench]]
name = "chunk_meshing"
harness = false

[[bench]]
name = "octree"
harness = false

[[bench]]
name = "chunk_serialization"
harness = false 
